<!DOCTYPE html>
<html>
  <head>
    <title>title</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Login</h1>
    <a href="/v1/user/auth/facebook">Facebook Login</a>
    <a href="/v1/user/auth/google">Google Login</a>
  </body>
</html>
